body {
  background-color: #fff4ed;
}
.menu-hamb {
  background: linear-gradient(to bottom, #fff4ed, #ffa775);
}
.price {
  color: #ffa775;
}
.btn {
  border: rgb(150, 150, 150) 1px solid;
  font-size: 9px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

.hamburger {
  animation: float 4s ease-in-out infinite;
}
.color {
  color: #f9a06f;
}

.burger-text {
  color: #e8905b;
}
.gradient-top {
  background: linear-gradient(to top, #fff4ed, #ffa775);
}

@keyframes fadeIn-from-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-right {
  animation: 1.5s ease-out 0s fadeIn-from-right;
}

/* Path: resto.vite/src/components/Menu.css */
@keyframes fadeIn-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-left {
  animation: 2s ease-out 0s fadeIn-from-left;
}
